body {
    background-color: lightblue;
    letter-spacing: 1.5px;
    box-sizing: content-box;
}

#container {
    /* background-color: beige; */
    padding: 20px 50px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 95vh;
    width: 80vw;
    position: absolute;
    font-size: 1.5rem;
    word-wrap: inherit;
}

#left {
    background-color: #1a6985;
    width: 30vw;
    color: beige;
    word-wrap: normal;
    padding: 15px 2px 15px 20px;
}

.two {
    margin-left: -30px;
    width: 100%;
    word-wrap: break-word;
}

#left a {
    text-decoration: none;
    color: beige;
}

li {
    list-style-type: none;
}

#right {
    background-color: beige;
    width: 50vw;
    color: #1a6985;
    padding-left: 15px;
}

.headings {
    font-size: larger;
    font-weight: 600;
    text-align: center;
    color: #EC255A;
}

#img {
    width: 10rem;
    height: 10rem;
    position: relative;
    border-radius: 25px;
}

.one {
    justify-self: center;
    text-align: center;
}

.per {
    position: relative;
    width: 90%;
    background-color: black;
    height: 10px;
    display: block;
    margin-top: 10px;
}

.per div {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    height: 10px;
}

.per2 {
    position: relative;
    width: 40vw;
    background-color: #003147;
    height: 10px;
    display: block;
    margin-top: 10px;
}

.per2 div {
    position: absolute;
    top: 0;
    left: 0;
    background: lightgreen;
    height: 10px;
}

@media (max-width:800px) {
    body {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        box-sizing: border-box;
        background-color: beige;
    }
    #container {
        padding: 0 0 0 0;
        display: grid;
        grid-template-columns: 100%;
        width: 100vw;
    }
    .per {
        position: relative;
        width: 90%;
        background-color: black;
        height: 10px;
        display: block;
        margin-top: 10px;
    }
    .per div {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        height: 10px;
    }
    .per2 {
        position: relative;
        width: 80vw;
        background-color: #003147;
        height: 10px;
        display: block;
        margin-top: 10px;
    }
    .per2 div {
        position: absolute;
        top: 0;
        left: 0;
        background: lightgreen;
        height: 10px;
    }
    #left {
        width: 100vw;
        word-wrap: break-word;
        background-color: #003147;
    }
    #right {
        width: 100vw;
        word-wrap: break-word;
        background-color: beige;
    }
    .six {
        width: 90%;
        margin-left: 0%;
    }
    .five {
        width: 95%;
        margin-left: 0%;
    }
    .seven {
        width: 95%;
        margin-left: 0%;
    }
}
